.button3 {
    min-width: 200px;
    min-height: 45px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    background: #252934;
    color: white;
    border: none;
    border-radius: 900px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
}
.button3:hover{
    color: #252934;
    background: white;
}